<!DOCTYPE html>
<html>
  <head>
    <title>Pictures - Celery Powered</title>
    <meta charset='UTF-8' />
    <style>
      body {
        font: 100% "Droid Sans", Helvetica, sans-serif;
      }
      form {
        float:right;
        width:20em;
      }
      #albums {
        clear:right;
        float:right;
        width:20em;
        list-style: decimal inside;
      }
      .pic {
        display: block;
      }
    </style>
  </head>
  <body>
  {% if messages %}
      

  <ul id="messages">
    {% for message in messages %}
      <li>{{message}}</li>
    {% endfor %}

      
  </ul>
  {% endif %}  
  <form action="/album/" method="post">{% csrf_token %}
      <h2>New Album</h2>
      {{form.as_p}}
  
      <p><input type="submit" value="Save" /></p>
  </form>
  <ol id="albums">
      <li><a href="/album/">home</li>
    {% for album in albums %}
      <li><a href="{{album.get_absolute_url}}">{{album}}</a> ({{album.picture_set.all|length}})</li>
    {% endfor %}
  </ol>
  {% if album %}
  <h1>{{album.name}} - ({{album.picture_set.all|length}}) pics</h1>
  <p>{{res.ready}} | {{res.get}} | {{res.successful}}</p>
  <ul id="album">
      {% for img in album.picture_set.all %}
       <li>
           <img class="pic" src="{{img.image_url}}" />
           <p><img src="{{img.map_url}}"/> 
           {{img.location}}</p>
       </details></li>
      {% endfor %}
  </ul>
  {% endif %}  
  </body>
</html>
